<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Videos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar placeholder="Digite o video desejado" [showCancelButton]="true" #tag (keyup.enter)="buscarVideo(tag.value)"></ion-searchbar>
    <ion-card *ngFor="let video of videos">
      <ion-card-header (click)="playVideo(video)">
        <b>{{video.titulo}}</b>
      </ion-card-header>
      <ion-card-content (click)="playVideo(video)">
        <img [src]="video.thumbnail">
        {{video.descricao}}
      </ion-card-content>
      <ion-row>
          <ion-col *ngIf="video.idPlayList">
              <button ion-button icon-left clear small (click)="showPlayList(video)">
                <ion-icon name="md-albums"></ion-icon>
                <div>Ver playlist</div>
              </button>
            </ion-col>
            <!-- <ion-col>
              <button ion-button icon-left clear small (click)="compartilharFacebook(video)">
                <ion-icon name="text"></ion-icon>
                <div>Compartilhar</div>
              </button>
            </ion-col> -->
      </ion-row>
    </ion-card>
    <ion-fab right bottom>
      <button ion-fab color="danger" (click)="AddVideo()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
